---
import GlobalStyles from "./GlobalStyles.astro";
import { config } from "../config";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

const isDev = import.meta.env.tienda_DEV === "true";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href=`${config.base}/favicon.svg` />
    <meta name="generator" content={Astro.generator} />
    <title>{config.pageTitle}</title>
  </head>

  <body id="body" class={isDev ? "dev" : ""}>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>

  <GlobalStyles />
</html>

<style>
  html {
    font-family: "Poppins", "Segoe UI", Arial, sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    color: var(--principal-text-color);
  }
  body.dev::before {
    content: "TEMPLATE";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 5rem;
    color: rgba(255, 0, 0, 0.2); /* rojo con transparencia */
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
    z-index: 0;
  }
  /* Quita el scroll del body cuando se abre el menu */
  body:not(:has(header > .itemsBox.hidden)) {
    overflow: hidden;
  }

  main {
    flex: 1;
  }
</style>
<GlobalStyles />
