---
import AdminLayout from "../../../components/admin/AdminLayout.tsx";
import ProductForm from "../../../components/admin/ProductForm.tsx";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <AdminLayout client:load>
      <ProductForm client:load />
    </AdminLayout>
  </body>
</html>
