---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h2>Sobre nosotros</h2>

    <p>Información de la tienda/comercio y redes sociales</p>

    <br />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum non
      voluptatem molestiae ex aliquid error voluptas eum blanditiis cum
      asperiores alias obcaecati dolorum ea magnam dolorem, ipsa, similique
      delectus? Culpa.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum,
      reprehenderit deleniti. Ullam enim accusantium magni quod, assumenda quos
      possimus. Accusantium ut maiores illum? At, earum exercitationem maiores
      quasi dicta soluta.
    </p>
  </main>
</Layout>
