<table class="cartTable">
    <thead>
      <tr>
        <th>Item</th>
        <th>Precio</th>
        <th>Cant.</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="cartList">
      <!-- El padre inyectará los rows con un <script> -->
    </tbody>
  </table>
  