---
import type Product from "../types/product";
import ItemProductoBox from "./ItemProductoBox.astro";

interface Props {
  products: Product[];
}
const { products: productos } = Astro.props as Props;
---

<section class="listaProductos">
  <ul>
    {productos.map((prod) => <ItemProductoBox producto={prod} />)}
  </ul>
</section>
