---
import type Product from "../types/product";
import ItemProductoBox from "./ItemProductoBox.astro";

interface Props {
  products: Product[];
}
const { products: productos } = Astro.props;
const emptyList = !productos || productos.length === 0;
---

<section class={`listaProductos${emptyList ? " centerBox" : ""}`}>
  {emptyList && <h3 style="color: gray;">Sin Productos</h3>}

  {
    productos.length > 0 && (
      <ul>
        {productos.map((prod) => (
          <ItemProductoBox producto={prod} />
        ))}
      </ul>
    )
  }
</section>

<style>
  section {
    max-width: var(--max-width-container);
    margin: auto;
    margin-bottom: 5em;
  }

  .listaProductos ul {
    list-style: none;
    padding: 0 10px;
  }

  @media screen and (min-width: 1000px) {
    .listaProductos ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2em;
      justify-content: center;
    }
  }
</style>
