---
import type Product from "src/types/product";
import ItemProductoBox from "./ItemProductoBox.astro";
import NavPag from "./NavPag.astro";

interface Props {
  products: Product[];
  totalPages: number;
  actualPage?: number;
  baseURL?: string;
}
const {
  products: productos,
  totalPages,
  actualPage = 1,
  baseURL,
} = Astro.props;

const emptyList = !productos || productos.length === 0;
---

<section>
  <div class={`listaProductos ${emptyList ? " centerBox" : ""}`}>
    {emptyList && <h3>Sin Productos</h3>}

    {
      productos.length > 0 && (
        <>
          <ul>
            {productos.map((prod) => (
              <ItemProductoBox producto={prod} />
            ))}
          </ul>

          {totalPages != 1 && (
            <NavPag
              actualPage={actualPage}
              totalPages={totalPages}
              baseURL={baseURL}
            />
          )}
        </>
      )
    }
  </div>
</section>

<style>
  section {
    flex: 1;
  }

  .centerBox {
    justify-content: center;
  }

  .listaProductos > h3 {
    color: gray;
  }

  .listaProductos ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    align-items: center;
    justify-self: start;
    justify-content: center;
    padding: 0;
    list-style: none; /* Removed default list style if any */
    gap: 1rem; /* Added gap for better spacing if needed, though card controls margins */
  }
</style>
