---
import { config } from "../config";
import type CategoryList from "../types/categoryList";

interface Props {
  categories: CategoryList[];
}

const { categories } = Astro.props as Props;
---

<div class="categoryBox">
  {
    categories.map((c) => (
      <a href={`${config.base}/categories/${c.name}`}>
        {c.name} ({c.count})
      </a>
    ))
  }
</div>

<style>
  .categoryBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }
</style>
